<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/images/sun.png" alt="Logo" class="d-inline-block align-text-top size30x30">
            Weather
          </a>
        </div>
      </nav>
</header>